body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    color: #CC7581;
    /*    background-color: #7DD6FF;*/
    background-color: #372d3b;
    font-family: 'Quicksand', sans-serif;

}

#header {
    height: 0vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: 0.5s all ease-in-out;
}


#menu {
    display: flex;
    margin-left: 35%;
}

#menu .menuList {
    list-style: none;
    flex-direction: row;
    flex-basis: 25%;
    font-size: 30px;
    margin-right: 5%;
    line-height: 3vh;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#menu .menuList a {
    color: #CC7581;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
}

#menu .menuList a {
    transition: all 0.3s ease-in-out;
}

#menu:hover .menuList a {
    opacity: .5;
    filter: blur(1px);
}

#menu .menuList:hover a {
    opacity: 1;
    filter: blur(0);
}

.menuList:hover {
    transform: scale(1.5);
}

header > #menu-burger {
    display: none;
}


.line {
    width: 30px;
    height: 4px;
    background-color: #61dbfb;
    border: 2px solid #141414;
    transition: 1s all ease-in-out;
}

.gofirst {
    transform: translateY(8px) rotate(-45deg);
    background-color: #CC7581;
}

.gosecond {
    opacity: 0;
}

.gothird {
    transform: translateY(-8px) rotate(45deg);
     background-color: #CC7581;
}


h2 {
    text-align: center;
    font-size: 3em;
}

.arr {
    position: fixed;
    width: 60px;
    height: 60px;
    clip-path: polygon(50% 0, 100% 50%, 100% 100%, 50% 69%, 0 100%, 0 50%);
    bottom: -120px;
    right: 5%;
    transition: all 0.4s;
    z-index: 22222;
    background: linear-gradient(#CC7581, #61dbfb);
}

.arr a {
    transform: translateY(180deg);
}

.arr i {
    transform: translateY(180deg);
}

.arr.scrolled {
    bottom: 50px;
}

#home {
    height: 100vh;
    margin-top: -10vh;
    width: 100%;
}

#home > div {
    height: 100%;
    position: relative;
}

.txt-type {
    position: absolute;
    left: 11%;
    margin-right: 11%;
    margin-top: 10%;
    letter-spacing: 5px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: 200;

}

.txt {
    border-right: 1px solid #777;
}


h1 {
    text-align: center;
    color: beige;
    font-size: 5em;
}

.seeMore {
    position: absolute;
    top: 60%;
    left: 35%;
    right: 35%;
    width: 30%;
    border-top: 10px double #CC7581;
    border-bottom: 10px double #CC7581;
    border-radius: 25%;
    color: #CC7581;
    cursor: pointer;
    text-align: center;
    height: 15%;
    line-height: 90px;
    font-size: 50px;
}

#aboutMe {
    height: 100vh;
}

#aboutWrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

h3 {
    font-size: 30px;
    color: black;

}

.pAbout {
    color: black;
    margin: 5% 10%;
}

.aboutBox {
    height: 60vh;
    flex-basis: 33.33%;
    flex-direction: row;
    background-color: #c4415d;
    text-align: center;
}

.aboutBox i {
    font-size: 50px;
    color: black;
}
#boxA, #boxC{
    position: relative;
}
#boxA::before{
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    background: #372D3B;
        clip-path: polygon(0 0, 0 25%, 100% 0);

}
#boxC::before{
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    background: #372D3B;
clip-path: polygon(0 0, 100% 25%, 100% 0);
}
#boxA::after{
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -12vh;
    left: 0;
    background: #C4415D;
    clip-path: polygon(0 0, 0 25%, 100% 0);
}
#boxC::after{
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -12vh;
    left: 0;
    background: #C4415D;
clip-path: polygon(0 0, 100% 25%, 100% 0);}
#counter {
    height: 10vh;
    width: 100%;
    margin-top: -10vh;
    display: flex;
    justify-content: space-around;
}

.num {
    display: flex;
    flex-basis: 25%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.number {
    font-size: 40px;
    height: 5%;
}

#skills {
    height: 110vh;
}

#skillWraper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    flex-basis: 19%;
    /*    box-sizing: border-box;*/
    border-top: 10px double #61dbfb;
    border-bottom: 10px double #61dbfb;
    border-radius: 20%;
    margin: 2%;
    height: 20vh;
    justify-content: center;
    text-align: center;
    line-height: 20vh;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    transition: .5s all ease-in-out;
}

/*
.skill:hover {
    background-color: #61dbfb;
    cursor: pointer;
    border-color: #CC7581;
    color: transparent;
}
*/

.skill img {
    transition: .5s all ease-in-out;

}

.imgSkill {
    margin-left: 25%;
}

.skill:hover img {
/*    transform: translateY(-100%)*/
}

.skill .ps {
    transition: .5s all ease-in-out;
}

.skill:hover .ps {
/*    transform: translateY(-200%);*/
}

.skill img:nth-of-type(3) {
    margin-left: 25%;
}

.skill img:nth-of-type(4) {
    margin-left: 25%;
}

.skill img:nth-of-type(5) {
    margin-left: 25%;
}

.ps {
/*
    transform: translateY(100%);
    color: #CC7581;
    font-size: 15px;
    line-height: 3vh;
*/
}

#projects {
    height: 145vh;
}

#projectsWrapper {
    height: 110vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioExamples {
    flex-basis: 33.3%;
    overflow: hidden;
    position: relative;
}


.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.desc {
    opacity: 0;
    height: 100%;
    color: black;
    width: 100%;
    transition: .5s all ease-in-out;
}

.desc .img {
    transition: .5s all ease-in-out;
}

.img:hover .desc {
    opacity: 1;
    background: #C4415D;
}

.desc > a {
    text-decoration: none;
    font-size: 26px;
    color: black;
    width: 50%;
    height: 100%;
    display: inline-block;
    font-size: 42px;
    line-height: 25vh;
    text-align: center;
}

#pic1 {
    background-image: url(img/hala.png);
}

#pic2 {
    background-image: url(img/moget.png);
}

#pic3 {
    background-image: url(img/novumpic.png);
}

#pic4 {
    background-image: url(img/galery.png);
}

#pic5 {
    background-image: url(img/rsp.png);
}

#pic6 {
    background-image: url(img/drum%20kit.png);
}

#pic7 {
    background-image: url(img/canvas%20hover.png);
}

#pic8 {
    background-image: url(img/cavnas%20collision.png);
}

#pic9 {
    background-image: url(img/canvas%20gravitation.png);
}

#pic10 {
    background-image: url(img/budget.png);
}

#pic11 {
    background-image: url(img/portfolio.png);
}

#footer {
    height: 90vh;
    width: 100%;
    background: linear-gradient(#372d3b, #000);
}

h4 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: 'Thasadith', sans-serif;
    letter-spacing: 1px;
}

#contact {
    list-style: none;
    font-size: 26px;
    text-align: center;
    color: white;
    font-family: 'Thasadith', cursive;
    letter-spacing: 1px;

}

.cont {
    margin: 2%;
    font-style: italic;
    color:white;
    text-decoration: none;
}

#otherContact{
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0% 10%;
    font-family: 'Thasadith', sans-serif;

}

.social{
    color: white;
    font-size: 60px;
    border-top: 10px double #61dbfb;
    border-bottom: 10px double #61dbfb;
    transition: .5s all linear;
}

.social:hover {
    border-radius: 20%;
    border-top: 10px double #61dbfb;
    border-bottom: 10px double #61dbfb;
    border-right: none;
    color: #CC7581;
    border-left: none;
    cursor: pointer;
}

@media (max-width:1025px) {
    #home {
        height: 100vh;
    }

    #menu {
        margin: 0;
    }

    #menu .menuList {
        margin-right: 0;
        font-size: 40px;
        line-height: 8vh;
        line-height: 15vh;
    }

    #menu .menuList a {
        height: 100%;
        width: 100%;
        display: block;
            font-weight: bold;
    }

    h1 {
        padding-top: 25%;
        font-size: 4em;
    }

    .seeMore {
        top: 60%;
        left: 30%;
        right: 30%;
        width: 40%;
        line-height: 110px;
        background: black;
        opacity: .8;
    }

    h3{
        font-size: 34px;
    }
    .pAbout {
        font-size: 25px;
        text-align: justify;
    }

    .skill img {
        transform: scale(.8);
    }

    .imgSkill {
        margin-left: 15%;
    }

    #counter {
        display: none;
    }

    .aboutBox {
        height: 90vh;
    }

    #projects {
        height: 140vh;
    }

    .skill img:last-of-child {
        margin-top: 20%;
    }

    #footer {
        height: 75vh;
    }

    #contact {
        font-size: 30px;
    }
}

@media (max-width:926px) {
    #header {
        background: transparent;
    }

    #header > #menu-burger {
        position: absolute;
        right: 3%;
        top: 30%;
        display: block;
        padding-top: 3%;
    }

    #header > ul.openMenu {
        display: inline-block;
        margin: 0;
        position: absolute;
        left: 0%;
        width: 100%;
        padding-left: 0;
        opacity: .9;
        text-align: center;
        background-color: #61dbfb;
    }

    #menu {
        display: none;
    }

    #home {
        height: 100vh;
    }

    .seeMore {
        left: 10%;
        right: 10%;
        width: 80%;
        font-size: 48px;
        line-height: 20vh;
        height: 20%;
    }

    #aboutMe {
        height: 310vh;
    }
    #boxA::after,
    #boxA::before,
    #boxC::before,
    #boxC::after,
    #boxB::before{
        content: '';
        height: 0%;
/*
clip-path: polygon(50% 80%, 100% 0, 100% 25%, 50% 100%, 0 25%, 0 0);
        background: #372D3B;
        height: 40%;
*/

    }
    #boxA::after,
    #boxB::after,
    #boxC::after{

    }

    #aboutWrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 190vh;
    }
/*
.aboutBox:nth-of-type(2){
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}
*/

    .pAbout {
        letter-spacing: 0px;
    }

    #skills {
        height: 140vh;
    }

    #skillWraper {
        justify-content: space-around;
    }

    .skill {
        flex-basis: 25%;
    }

    .portfolioExamples {
        flex-basis: 33%;
        height: 30vh;
    }

    #projects {
        height: 140vh;
    }

    .desc {
        opacity: 1;
        height: 30%;
        background: #C4415D;
        background: linear-gradient(to right, #CC7581, #61dbfb);
    }

    .desc > a {
        line-height: 7vh;
        font-weight: bold;
    }

    #contact {
        font-size: 28px;
        margin: 10% 0%;
    }

    #otherContact {
        justify-content: space-between;
    }

    #footer {
        height: 100vh;
    }
}

@media (max-width:728px) {
    .seeMore {
        top: 60%;
    }

    #home {
        margin-top: -5vh;
    }

    #aboutMe {
        height: auto;
    }

    #skills {
        height: auto;
    }

}

@media (max-width:564px) {
    #home {
        height: 100vh;
        margin-top: -8vh;
        width: 100%;
    }

    h1 {
        font-size: 3.5em;
    }


    #aboutWrapper {
        height: auto;
    }

    .txt-type {
        margin-top: 0;
    }
}

@media (max-width:487px) {
    #home {
        margin-top: -6vh;
    }

    h1 {
        font-size: 3.5em;
    }

    .seeMore {
        left: 10%;
        right: 10%;
        width: 80%;
    }

    .txt-type {
        left: 7%;
    }

    #aboutMe {
        /*    height: 215vh;*/
    }

    #aboutWrapper {
        /*    height: 200vh;*/
        height: auto;
    }

    #skills {
        height: 160vh;
        height: auto;
    }

    .skill {
        flex-basis: 33%;
    }

    #projects {
        height: 190vh;
    }

    .portfolioExamples {
        flex-basis: 50%;
    }
}

@media (max-width:424px) {
    h1 {
        font-size: 3em;
    }

    .seeMore {
        left: 10%;
        right: 10%;
        width: 80%;
        font-size: 44px;
    }

    #aboutMe {
        height: 310vh;
    }

    #menu .menuList {
        left: -15%;
    }

    #aboutWrapper {
        height: 300vh;
    }

    #skills {
        height: auto;
    }

    #projectsWrapper {
        height: 275vh;
    }

    .portfolioExamples {
        flex-basis: 100%;
        height: 25vh;
    }

    .skill {
        flex-basis: 75%;
        height: 25vh;
        margin: 5% 0%;
    }

    .skill:hover .ps {
        transform: translateY(-230%);
        padding: 0% 5%;
    }

    .ps {
        font-size: 21px;
    }

    #projects {
        height: 290vh;
    }

    h4 {
        font-size: 36px;
        padding: 0% 5%;
    }

    #contact {
        font-size: 23px;
    }

    #otherContact {}

    #footer {
        height: 100vh;
    }
}

@media (max-width:392px) {
    .txt-type {
        left: 7%;
        font-size: 40px;
    }

    #home {
        margin-top: -6vh;
    }

    #aboutMe {
        height: 370vh;
    }

    #menu .menuList {
        font-size: 36px;
    }

    #aboutWrapper {
        height: 360vh;
    }

    .seeMore {
        font-size: 40px;
    }

    .skill:hover .ps {
        transform: translateY(-190%);
    }

    #otherContact {
        justify-content: center;
    }

    #footer {
        height: auto;
    }
}

@media (max-width:346px) {
    .txt-type {
        font-size: 32px;
    }

    #home {
        margin-top: -7vh;
    }

    #header > ul.openMenu {
        /*        left: -16%;*/
    }

    .txt-type {
        left: 10%;
        top: 10%;
    }

    #aboutWrapper{
        height: 355vh;
    }
    #menu .menuList {
        font-size: 33px;
    }

    .seeMore {
        font-size: 36px;
    }

    .skill:hover .ps {
        transform: translateY(-170%);
    }

    .pAbout {
        font-size: 20px;
    }

    #contact {
        font-size: 19px;
    }

    .social {
        font-size: 54px;
    }
}

@media (max-width:307px) {
    .social {
        font-size: 50px;
    }

    #home {
        margin-top: -8vh;
    }

    .pAbout {
        font-size: 18px;
    }

    .seeMore {
        font-size: 33px;
    }

    #projects {
        height: 300vh;
    }
}

@media (max-width:282px) {
    .txt-type {
        font-size: 28px;
    }

    .seeMore {
        font-size: 30px;
    }

    #contact {
        font-size: 15px;
    }

    .social {
        font-size: 45px;
    }

    h2 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 29px;
    }

    .pAbout {
        font-size: 17px;
    }
}
