body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    color: #CC7581;
    /*    background-color: #7DD6FF;*/
    background-color: #372d3b;
    font-family: 'Quicksand', sans-serif;

}

#header {
    height: 0vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: 0.5s all ease-in-out;
}

#menu {
    display: flex;
    margin-left: 35%;
}

#menu .menuList {
    list-style: none;
    flex-direction: row;
    flex-basis: 25%;
    font-size: 30px;
    margin-right: 5%;
    line-height: 3vh;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#menu .menuList a {
    color: #CC7581;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
}

#menu .menuList a {
    transition: all 0.3s ease-in-out;
}

#menu:hover .menuList a {
    opacity: .3;
    filter: blur(1px);
}

#menu .menuList:hover a {
    opacity: 1;
    filter: blur(0);
}

.menuList:hover {
    transform: scale(1.5);
}

/*
.menuList:hover:before{
    transform: translateY(-5px);
}

.menuList::before{
    content: '';
    width: 50px;
    transition: all .5s ease-in-out;
    position: absolute;
    height: 1px;
    background-color: black;
}
.menuList:hover:after{
    transform: translateY(5px);
}
.menuList:after{
      content: '';
    width: 50px;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom:15%;
    height: 1px;
        background-color: black;

}
*/

h2 {
    text-align: center;
    font-size: 3em;
}

#home {
    height: 100vh;
    margin-top: -10vh;
    width: 100%;
}

#home > div {
    height: 100%;
    position: relative;
}

.txt-type {
    position: absolute;
    left: 11%;
    margin-right: 11%;
    margin-top: 10%;
    letter-spacing: 5px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: 200;

}

.txt {
    border-right: 1px solid #777;
}


h1 {
    text-align: center;
    color: beige;
    font-size: 5em;
}

.seeMore {
    position: absolute;
    top: 60%;
    left: 35%;
    right: 35%;
    width: 30%;
    border-top: 10px double #CC7581;
    border-bottom: 10px double #CC7581;
    border-radius: 25%;
    color: #CC7581;
    cursor: pointer;
    text-align: center;
    height: 15%;
    line-height: 90px;
    font-size: 50px;
}

/*
.seeMore:hover {
    cursor: pointer;
}
*/

/*
.seeMore::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0%;
    background-color: black;
    opacity: 0.5;
    transition: 0.5s;
}
*/
/*

.seeMore:hover::before {
    height: 100%;
}
*/

#aboutMe {
    height: 100vh;
}

#aboutWrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}
h3{
    font-size: 30px;
    color: black;
    
}
.pAbout{
        color: black;
    margin: 5% 10%;
}

.aboutBox {
    height: 60vh;
    flex-basis: 33.33%;
    flex-direction: row;
    background-color: #c4415d;
    text-align: center;
}

.aboutBox i{
    font-size:50px;
    color:black;
}
#counter {
    height: 10vh;
    width: 100%;
    margin-top: -10vh;
    display: flex;
    justify-content: space-around;
}

.num{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}
.number{
    font-size:40px;
    height: 5%;
}

#skills {
    height: 110vh;
}

#skillWraper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    flex-basis: 19%;
/*    box-sizing: border-box;*/
        border-top: 10px double #61dbfb;
    border-bottom: 10px double #61dbfb;
    border-radius: 20%;
    margin: 2%;
    height: 20vh;
    justify-content: center;
    text-align: center;
    line-height: 20vh;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.skill:hover{
    background-color: #61dbfb;
    cursor: pointer;
    color: transparent;
}
.skill img{
        transition: .5s all ease-in-out;

}
.skill:hover img{
    transform: translateY(-100%)
}
.skill .ps {
    transition: .5s all ease-in-out;
}
.skill:hover .ps{
    transform: translateY(-300%);
}
/*
.ps{
    line-height: 20vh;
}
.skill:hover .ps{
    transform: translateY(100%);
}
*/
.ps{
    transform: translateY(100%);
    color: #CC7581;
    font-size: 15px;
    line-height: 3vh;
}

#projects {
    height: 130vh;
}

#projectsWrapper {
    height: 110vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioExamples {
    flex-basis: 33.3%;
    overflow: hidden;
    position: relative;
}

.portfolioExamples .img {
    transition: 0.5s all ease-in-out;
    opacity: 0.5;

}

.portfolioExamples:hover .img {
    transform: scale(1.2);
    opacity: 1;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

/*
.img::after {
    content: '';
    transition: 0.5s all ease-in-out;
}
*/
.img .desc{
     transition: 0.5s all ease-in-out;
    opacity: 0;
}
.img:hover .desc{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    background-color: #CC7581;
    width: 100%;
/*    transform: translateY(-20%)*/
}



#pic1 {
    background-image: url(img/hala.png);
}

#pic2 {
    background-image: url(img/moget.png);
}

#pic3 {
    background-image: url(img/novumpic.png);
}

#pic4 {
    background-image: url(img/galery.png);
}

#pic5 {
    background-image: url(img/rsp.png);
}

#pic6 {
    background-image: url(img/drum%20kit.png);
}

#pic7 {
    background-image: url(img/canvas%20hover.png);
}

#pic8 {
   background-image: url(img/cavnas%20collision.png);
}

#pic9 {
    background-image: url(img/canvas%20gravitation.png);
}
#pic10{
background-image: url(img/budget.png);
}
#pic11{
    background-image: url(img/portfolio.png);
}

#footer {
    height: 90vh;
    width: 100%;
    background: linear-gradient(#372d3b, #000);
}
h4{
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: 'Thasadith', sans-serif;
    letter-spacing: 1px;
}
#contact{
    list-style: none;
    font-size: 26px;
    text-align: center;
    color:white;
    font-family: 'Thasadith',cursive;
    letter-spacing: 1px;

}
.cont{
    margin: 2%;
}
#otherContact{
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0% 10%;
    font-family: 'Thasadith', sans-serif;

}
.social{    
    font-size: 60px;
    border-top: 10px double #61dbfb;
    border-bottom: 10px double #61dbfb;
    transition: .5s all linear;
}
.social:hover{
    border-radius: 20%;
    border-top: 10px double #61dbfb;
    border-bottom: 10px double #61dbfb;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
    
@media (max-width: 424px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #header {
        display: none;
    }

    #menu {
        display: none;
    }

    h1 {
        font-size: 34px;
        padding-top: 15%;
        letter-spacing: 10px;
    }

    #home {
        height: 110vh;
    }

    .seeMore {
        top: 60%;
        margin: 0;
        left: 25%;
        right: 25%;
        width: 50%;
        font-size: 25px;
        line-height: 40px;
    }

    #aboutMe {
        height: 150vh;
    }

    #aboutWrapper {
        height: 150vh;
    }

    .aboutBox {
        flex-basis: 100%;
        height: 55vh;
    }
    h3{
margin-top: 2%;}
    .aboutBox > p{
        margin:0% 5%;
    }

    #counter {
        display: none;
    }

    #skills {
        height: 100vh;
        margin-top: 20vh;
    }

    #skillWraper {}

    .portfolioExamples {
        flex-basis: 50%;
        justify-content: center;
    }

    #socials {
        margin-left: -14%;
        margin-top: 10%;
        height: 200px;
        width: 200px;
        transform: scale(0.65);
    }
}
