
.icon-desktop:before { content: '\e801'; } /* '' */
.icon-flow-cross:before { content: '\e802'; } /* '' */
.icon-wrench-outline:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-chart-outline:before { content: '\e805'; } /* '' */